<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="UserDO" type="com.cg.mybatis3.model.User" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis3/mappers/user-mapper.xml" />
	</mappers>
</configuration>